@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#App {
  padding: 20px 20vw;
}

.title {
  padding-bottom: 10px;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editable_block {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 2px 0px;
}

.editable_options {
  padding: 4px 8px;
  font-size: 16;
}

.editable_label {
  background-color: #f9f9f9;
  padding-right: 4px;
}
