@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#App {
  padding: 20px 20vw;
}

.title {
  padding-bottom: 10px;
}
.editable_block {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 2px 0px;
}
